.default .todoPane {
	background: peachPuff;
	border-right: 1px solid black;
}

.default .button {
	background: rgb(255, 235, 217);
	color: rgb(0, 0, 0);
}

.default .button:hover {
	background: rgb(20, 216, 196);
	color: rgb(255, 255, 255);
	border: 2px solid rgb(250, 200, 156);
}

.default .button-x {
	background: rgb(255, 235, 217);
	color: rgb(0, 0, 0);
}
.default .button-x:hover {
	border: 2px solid rgb(250, 200, 156);
	background: red;
	color: rgb(255, 255, 255);
}

.default .button-OK {
	background-color: green;
	color: white;
}

.default .button-OK:hover {
	border: 2px solid rgb(250, 200, 156);
	background-color: greenyellow;
	color: black;
}

.default .filter-active {
	background: turquoise;
}

.default .filter-inactive {
	background-color: rgb(255, 235, 217);
}

.default .filter:hover {
	background: turquoise;
	color: white;
	border: 2px solid rgb(250, 200, 156);
}

.default #clr-btn {
	background-color: rgb(255, 235, 217);
}

.default #clr-btn:hover {
	background-color: turquoise;
	border: 2px solid rgb(250, 200, 156);
}

.default .todoPane h3 {
	background-color: turquoise;
	border: 2px solid black;
	border-right: none;
	border-left: none;
}




