.light .todoPane {
	background-color: #1DA1F2;
	border-right: 1px solid #F5F8FA;
}

.light .button {
	background: #657786;
	color: rgb(0, 0, 0);
}

.light .button:hover {
	background-color: #F5F8FA ;
	border: 2px solid #AAB8C2;
}

.light .button-x {
	background: #657786;
}
.light .button-x:hover {
	background-color: #14171A ;
	border: 2px solid #AAB8C2;
	color: #F5F8FA;
}

.light .button-OK {
	background-color: #657786;
}

.light .button-OK:hover {
	background-color: #F5F8FA ;
	border: 2px solid #AAB8C2;
}

.light .filter-active {
	background: #F5F8FA;
}

.light .filter-inactive {
	background-color: #657786;
}

.light .filter:hover {
	background-color: #F5F8FA ;
	border: 2px solid #AAB8C2;
}

.light #clr-btn {
	background-color: #657786;
}

.light #clr-btn:hover {
	background-color: #F5F8FA ;
	border: 2px solid #AAB8C2;
}

.light .todoPane h3 {
	background-color: #1DA1F2;
	border: 2px solid #F5F8FA ;
	border-right: none;
	border-left: none;
	color:  #F5F8FA;
}

/* #1DA1F2
#14171A
#657786
#AAB8C2
#E1E8ED
#F5F8FA */


