.light-todo-pane {
	background-color: #1DA1F2;
	border-right: 1px solid #F5F8FA;
	color: #F5F8FA ;
}

.light .button {
	background: #AAB8C2;
	color: #14171A;
}

.light .button:hover {
	background-color: #F5F8FA ;
	border: 2px solid #E1E8ED;
}

.light .button-x {
	background: #AAB8C2;
}
.light .button-x:hover {
	background-color: #14171A ;
	border: 2px solid #E1E8ED;
	color: #F5F8FA;
}

.light .button-OK {
	background-color: #AAB8C2;
}

.light .button-OK:hover {
	background-color: #F5F8FA ;
	border: 2px solid #E1E8ED;
}

.light .filter-active {
	background: #F5F8FA;

}

.light .filter-inactive {
	background-color: #AAB8C2;

}

.light .filter:hover {
	background-color: #F5F8FA ;
	border: 2px solid #E1E8ED;

}

.light #clr-btn {
	background-color: #657786;
}

.light #clr-btn:hover {
	background-color: #F5F8FA ;
	border: 2px solid #E1E8ED;
}

.light-todo-pane h3 {
	background-color: #1DA1F2;
	border: 2px solid #F5F8FA ;
	border-right: none;
	border-left: none;
	color:  #F5F8FA;
}

.light .todo-active {
	color: #F5F8FA;
}

.light .todo-completed {
	color: #657786;
}

/* #1DA1F2
#14171A
#657786
#AAB8C2
#E1E8ED
#F5F8FA */


