.todoPane {
	position: absolute;
	height: 100%;
	width: calc(50% - 1px);
	top: 0%;
	left: 0%;
}

.button {
	border: none;
	margin-left: 2px;
	border-radius: 25%;
	padding: 1px 5px;
}


.button-x {
	border: none;
	margin-left: 2px;
	border-radius: 25%;
}

.button-OK {
	border-radius: 25%;
	border: none;
	margin-left: 2px;
}

.filter {
	border: none;
	border-radius: 8px;
	margin: 5px;
	width: 100px;
}

#clr-btn {
	border-radius: 8px;
	border: none;
}





