.dark-task-pane {
	background-color: #35465C;
	border-left: 1px solid rgb(156, 156, 156);
	color: rgb(113, 241, 113);
}

.dark .task-pane button {
	background: rgb(156, 156, 156);
	color: rgb(61, 60, 60);

}

.dark .task-pane button:hover {
	background: rgb(175, 175, 175);
	color: rgb(113, 241, 113);
	border: 2px solid rgb(133, 131, 253);
}

.dark-task-pane h3 {
	background-color: #0a3268;
	border: 2px solid rgb(156, 156, 156);
	color: rgb(202, 199, 199);
	border-right: none;
	border-left: none;
}
.dark button.x:hover {
	background-color: rgb(255, 72, 72);
}

.dark select {
	background-color: #35465C;
	color: rgb(113, 241, 113);
}

