.default .task-pane {
	background-color: turquoise;
	border-left: 1px solid black ;
}

.default .task-pane button {
	background: rgb(143, 228, 219);

}

.default .task-pane button:hover {
	background-color: peachpuff;
	border: 2px solid rgb(0, 255, 229);
}

.default .task-pane h3 {
	background-color: peachpuff;
	border: 2px solid black;
	border: 2px solid black;
	border-right: none;
	border-left: none;
}

.default button.x:hover {
	background-color: rgb(255, 72, 72);
}


