.task-pane {
	position: absolute;
	height: 100%;
	width: 50%;
	background-color: turquoise;
	top: 0%;
	right: 0%;
	border-left: 2px solid black ;
}

.task-pane button {
	background: rgb(143, 228, 219);
	border-radius: 25%;
	border: none;
	padding: 1px 5px;
}

.task-pane button:hover {
	background-color: peachpuff;
	border: 2px solid rgb(0, 255, 229);
}

.task-pane span {
	margin: 5px;
}

.task-pane div {
	height: 2em;
}

.task-pane h3 {
	background-color: peachpuff;
	border: 2px solid black;
	border-right: none;
	border-left: none;
}
button.x:hover {
	background-color: rgb(255, 72, 72);
}

